.home-page {
    background: #FFFFFF;
    height: 100vh;
}

.top-bar {
    background: #90B6FF;
    height: 70px;
    width: 100vw;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 40px;
}

.home-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding-bottom: 40px;
}

.logout-button {
    width: 50px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #90B6FF;
    border: none;
    border-radius: 10px;
    margin-right: 100px;
}

.logout-logo {
    width: 20px;
    height: 20px;
    filter: invert(100);
}

.home-text {
    font-family: Inter;
    font-size: 64px;
    font-weight: 400;
    margin-left: 100px;
}

.home-options {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.home-buttons {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    border: 4px solid #90B6FF;
    background: #FFFFFF;
    margin: 0px 20px 20px 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #90B6FF;
    font-family: Inter;
    font-weight: 700;
    font-size: 15px;
    
    transition-duration: 0.2s;
}

.home-buttons:hover {
    transition-duration: 0.2s;
    background: #90B6FF;
    color: #FFFFFF;
}

.home-buttons:hover .option-logo {
    transition-duration: 0.2s;
    filter: brightness(200);
}

.home-buttons:focus {
    transition-duration: 0.2s;
    font-size: 12px;
}

.home-buttons:focus .option-logo {
    transition-duration: 0.2s;
    width: 50px;
    height: 50px;
}

.option-logo {
    width: 40px;
    height: 40px;
}

.content {
    display: flex;
}

.pages {
    display: none;
    width: 100vw;
}

