.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #2f76ff;
}

.login-back {
    background-color: #ffffff;
    border-radius: 15px;
    height: 20em;
    width: 25em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
.login-text {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 40px;
    font-weight: 700;
    height: 66px;
    letter-spacing: 2px;
    line-height: normal;
    width: 342px;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputbox {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
    background-color: #ffffff;
    width: 25em;
    border-radius: 10px;
    box-shadow: 0 0 0 2px #f2f2f2, 8px 8px 0 0 #f2f2f2;
}

.inputbox:focus-within {
    box-shadow: 0 0 0 2px #2f76ff, 8px 8px 0 0 #2f76ff;
    transition-duration: 0.2s;
}

.textbox {
    background: #ffffff;
    border: none;

    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
}

.textbox:focus {
    border: none;
    outline: none;
}

.logo {
    height: 50px;
    object-fit: cover;
    width: 50px;
    padding: 14.5px;
    opacity: 0.5;
}

.login-button {
    background-color: #ffffff;
    border-radius: 10px;
    height: 40px;
    width: 348px;
    border: none;
    box-shadow: 0 0 0 2px #2f76ff, 8px 8px 0 0 #2f76ff;

    color: #2f76ff;
    font-family: "Inter-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
}

.login-button:focus {
    box-shadow: 0 0 0 2px #2f76ff;
    translate: 4px 4px;
    transition-duration: 0.1s;
}